.sideBySide{
    display:flex;
    margin: auto;
    flex-direction:row;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90%;
    border: 20px solid rgba(0, 0, 0, 0.05);
}